<div class="servizi">
    <div class="titoloservizi">
        <img class="immagineprincipale" src="assets/Images/logo_dello_studio_Roberta_Perrone.svg"
            alt="Prodotti Tipici">
        <h1 class="titoloprincipale">I Miei Laboratori</h1>
    </div>
    <div class="timeline">
        <div class="container right">

            <p>
                Questi <strong>progetti</strong> nascono dal desiderio di portare il mio contributo professionale
                oltre la
                stanza di terapia.
                La volontà è quella di promuovere la cura e il benessere psicologico nei più svariati
                <strong>contesti
                    sociali:</strong>
                scuole, associazioni, comunità, spazi pubblici e privati.
            </p>

            <p>
                I <strong>laboratori creativi</strong> sono frutto della collaborazione con colleghi
                psicologi-psicoterapeuti e
                <strong>altre figure professionali:</strong>
                arteterapeuti, educatori, insegnanti, artisti.
            </p>

        </div>
        <div class="container left">
            <p>
                <strong>L'Arte</strong> è il filo rosso che muove e tiene assieme tutti i miei progetti.
                I laboratori si fondano sui principi dell'<strong>Arteterapia</strong>, tecnica che promuove la
                libera
                espressione
                dell'individuo.
            </p>

            <p>
                Lavorare in <strong>gruppo</strong> permette di ritrovarsi, sia pure nella specificità dei vissuti
                personali, in una situazione
                comune ad altri
                e da altri <u>"partecipata"</u>. La sensazione che ne deriva è di far parte di qualcosa di più
                grande,
                di sentirsi
                <strong>supportati e accolti</strong> nella propria ricerca individuale.
            </p>

        </div>



        <div class="container right">
            <div class="timeline-content">
                <time datetime="2024-05">Da Maggio 2024 a Giugno 2024</time>
                <h3>Un mare d'incontri</h3>
                <p>Per l'Istituto Comprensivo Statale di "Porto Cesareo" ideiamo dei laboratori indirizzati alle classi della scuola dell'infanzia, primaria e secondaria di primo grado. Il progetto vede l'utilizzo di tecniche di danza e arteterapia per supportare gli alunni negli aspetti psicocorporei e lavorare sulla tematica dell'inclusione.</p>
                
                <img src="assets/laboratorio/mareIncontri.webp" alt="Laboratorio Un mare d'incontri per le scuole di Porto Cesareo">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Ilaria Carlino</em> – Psicologa e psicoterapeuta<br> ad approccio umanistico psicocorporeo</li>
                    <li><em>Elisa Dell'Anna</em> – Artista e danzaterapeuta in formazione</li>
                </ul>
            </div>
        </div>

        <div class="container left">
            <div class="timeline-content">
                <time datetime="2023-10">Da Ottobre 2023 a Marzo 2024</time>
                <h3>Con-tatto</h3>
                <p>Nel salone della Parrocchia di Torre Lapillo nascono attività gratuite per bambini e ragazzi dai 6 ai 17 anni. Il progetto nasce dal desiderio di offrire spazi d'ascolto per i minori e supportarli nelle loro fragilità.</p>
                
                <img src="assets/laboratorio/contatto.webp" alt="Laboratorio Con-tatto per bambini e ragazzi a Torre Lapillo">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Ilaria Carlino</em> – Psicologa e psicoterapeuta<br> ad approccio umanistico psicocorporeo</li>
                    <li><em>Elisa Dell'Anna</em> – Artista e danzaterapeuta in formazione</li>
                </ul>
            </div>
        </div>

        <div class="container right">
            <div class="timeline-content">
                <time datetime="2023-09">Da Settembre 2023 a Ottobre 2023</time>
                <h3>Fateci Spazio</h3>
                <p>Nasce dal desiderio di soffermarsi sulla preadolescenza. Un laboratorio espressivo per ragazzi, dai 9 ai 12 anni, con l'obiettivo di supportarli nella gestione emotiva e relazionale all'interno dei gruppi dei pari.</p>
                
                <img src="assets/laboratorio/fateciSpazio.webp" alt="Laboratorio Fateci Spazio per ragazzi preadolescenti">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Ilaria Carlino</em> – Psicologa e psicoterapeuta<br> ad approccio umanistico psicocorporeo</li>
                </ul>
            </div>
        </div>

        <div class="container left">
            <div class="timeline-content">
                <time datetime="2022-11">Da Novembre 2022 a Dicembre 2022</time>
                <h3>Ritrovarsi</h3>
                <p>Un laboratorio, tutto al femminile, rivolto alle donne dai 40 anni in su. Uno spazio creativo esperienziale in cui poter entrare in contatto con il corpo e le emozioni attraverso l'uso dell'espressione artistica, corporea e della mindfulness.</p>
                
                <img src="assets/laboratorio/ritrovarsi.webp" alt="Laboratorio Ritrovarsi per donne over 40">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Ilaria Carlino</em> – Psicologa e psicoterapeuta<br> ad approccio umanistico psicocorporeo</li>
                </ul>
            </div>
        </div>
        <div class="container right">
            <div class="timeline-content">
                <time datetime="2022-10">Da Ottobre 2022 a Novembre 2022</time>
                <h3>Incontro (dentro e fuori)</h3>
                <p>Laboratorio pensato per giovani adulti. Un'esperienza di passi, sguardi, abbracci, colori, immagini e parole. Uno spazio per sentire, ascoltare e percepire sé stessi e l'Altro.</p>
                
                <img src="assets/laboratorio/dentrofuori.webp" alt="Laboratorio per giovani adulti Incontro (dentro e fuori)">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Ilaria Carlino</em> – Psicologa e psicoterapeuta<br> ad approccio umanistico psicocorporeo</li>
                </ul>
            </div>
        </div>
        <div class="container left">
            <div class="timeline-content">
                <time datetime="2022-03">Da Marzo 2022 a Aprile 2022</time>
                <h3>Il filo emozionato</h3>
                <p>Presso l'Istituto Comprensivo P. Impastato di Veglie prende il via "Il filo emozionato", un laboratorio creativo sulle emozioni indirizzato alle classi quinte della scuola primaria. Un accompagnamento nel delicato passaggio alla scuola secondaria di primo grado.</p>
                
                <img src="assets/laboratorio/filoEmozionato.webp" alt="Laboratorio Il filo emozionato per le classi quinte">
                
                <p><strong>Realizzato da:</strong></p>
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Rosalinda Scandone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                </ul>
            </div>
            
        </div>


        <div class="container right">
            <div class="timeline-content">
                <time datetime="2022-01">Da Gennaio 2022 a Febbraio 2022</time>
                <h3>Emozion-arte</h3>
                <p>Nella biblioteca comunale di Veglie, un laboratorio creativo sulle emozioni. Il progetto, rivolto ai bambini dai 6 ai 12 anni, nasce dal desiderio di sostenerli nella gestione e nell'alfabetizzazione emotiva.</p>
                
                <img src="assets/laboratorio/emozioneArte.webp" alt="Laboratorio Emozion-arte per bambini dai 6 ai 12 anni" loading="lazy">
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                </ul>
            </div>
        </div>

        <div class="container left">
            <div class="timeline-content">
                <time datetime="2019-09">Da Settembre 2019 a Gennaio 2020</time>
                <h3>Integrare con l'arte</h3>
                <p>Presso lo SPRAR di San Pancrazio Salentino, gestito da Arci Brindisi, un'esperienza di Arteterapia e Danzamovimentoterapia con minori italiani e stranieri. Un laboratorio basato su modalità non verbali che superano ogni barriera comunicativa e linguistica.</p>
                
                <img src="assets/laboratorio/integrareConLarte.webp" alt="Laboratorio Integrare con l'arte: Arteterapia e Danzamovimentoterapia" loading="lazy">
                <ul>
                    <li><em>Dott.ssa Roberta Perrone</em> – Psicologa e psicoterapeuta<br> ad orientamento psicoanalitico</li>
                    <li><em>Dott.ssa Caterina Squillacioti</em> – Danzamovimentoterapeuta</li>
                </ul>
               
            </div>
            
        </div>




    </div>

</div>