/* Sezione di Contatto */
.contact-section {
  padding: 4rem 2rem;
  background-color: #e9d9d9;
  text-align: center;
  font-family: Arial, sans-serif;
}

.section-title {
  font-size: 2.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.section-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 2.5rem;
}

/* Griglia per le Contact Card */
.contact-info {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  margin: 0 auto;
  max-width: 900px;
}

/* Contact Card */
.contact-card {
  background-color: #f3ebeb;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  text-align: center;
}

.contact-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.icon {
  background-color: #cf5f5f42;
  color: #611d1d;
  border-radius: 20%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}

.icon {
  font-size: 1.5rem;
}

.contact-card h3 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.contact-card p {
  font-size: 0.7rem;
  color: #666;
}

.contact-card a {
  color: #611d1d;
  text-decoration: none;
  transition: color 0.3s ease;
}



/* Mappa */
.map-section {
  margin-top: 3rem;
}

.map-section h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.map-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.map-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px;
}
.section-title {
  font-size: 2.5rem;               /* Dimensione del font per una buona visibilità */
  color: #2C3E50;                  /* Colore scuro per un aspetto professionale */
  text-align: center;              /* Allineamento al centro */
  font-weight: 600;                /* Font più spesso per dare risalto */
  margin-bottom: 1rem;             /* Spazio sotto il titolo */
  position: relative;
}

.section-title::after {
  content: "";                     /* Crea una linea decorativa sotto il titolo */
  width: 80px;                     /* Larghezza della linea */
  height: 4px;                     /* Spessore della linea */
  background-color: #5a2020;       /* Colore della linea */
  display: block;
  margin: 0.5rem auto 0;           /* Posizionamento centrale e margine sopra/sotto */
  border-radius: 2px;              /* Angoli arrotondati */
}

.section-title:hover {
  color: #db3434;                  /* Cambio colore al passaggio del mouse */
  transition: color 0.3s ease;     /* Transizione morbida */
}

@media (max-width: 768px) {
  .contact-card p {
    font-size: 1rem;

  }
}
