<div class="servizi">
  <div class="titoloservizi">
    <img class="immagineprincipale" src="assets/Images/logo_dello_studio_Roberta_Perrone.svg"
      alt="Logo dello Studio di Veglie della Dottoressa Roberta Perrone">
    <h1 class="titoloprincipale">Aree d'intervento</h1>
  </div>
  <section class="services">
    <article class="service-category">
      <div class="service-item">
        <h3>Età Evolutiva</h3>
        <ul>
          <li>
            <strong>Difficoltà emotive e comportamentali</strong> Iperattività, scarso rispetto delle regole,
            manifestazioni aggressive, provocatorie e di opposizione, ritiro e isolamento, ansia, difficoltà di
            separazione e mutismo selettivo.<br>
          </li>
          <li>
            <strong>Sintomi psicosomatici</strong> Disturbi del sonno e dell'alimentazione, enuresi encopresi, nausea,
            vomito e cefalea.<br>
          </li>
          <li>
            <strong>Difficoltà scolastiche</strong> Problematiche nell'apprendimento, di attenzione e/o
            iperattività.<br>
          </li>
          <li>
            <strong>Supporto a seguito di eventi specifici</strong> Cambiamenti familiari (nascita di un/una
            fratellino/sorellina, separazione dei genitori, ecc.), lutto, malattia di un familiare e adozioni.<br>
          </li>
          <li>
            <strong>Trattamento dei disturbi dello spettro autistico</strong>
            Compromissione grave o generalizzata in due aree dello sviluppo: nella capacità di comunicazione e
            interazione sociale (deficit nella comunicazione della reciprocità sociale ed emotiva, nella comunicazione
            non verbale usata a scopo sociale, nella creazione e mantenimento di legami sociali adeguatamente al livello
            generale di sviluppo) e nell’area degli interessi e delle attività (uso stereotipato dei movimenti,
            del linguaggio o degli oggetti; eccessiva aderenza a routine, rituali motori o verbali e/o resistenza al
            cambiamento; fissazione per interessi particolari o ristretti in modo anormale nella durata o
            nell’intensità;
            Iper o Ipo reattività agli stimoli sensoriali o inusuale interesse per particolari dettagli dell’ambiente).
            <br>


          </li>
          <li>
            <strong id="obiettivi">Problematiche adolescenziali</strong> Crisi legate all'identità, difficoltà nella
            relazione con il
            proprio corpo, con gli adulti di riferimento e/o con i pari, assunzione di comportamenti disfunzionali.<br>
          </li>
        </ul>
      </div>
    </article>
    <article class="service-category">
      <h3>Età Adulta</h3>
      <div class="service-item">
        <ul>
          <li><strong>Stato emotivo ansioso</strong> Sensazioni di tensione, preoccupazioni e sintomi fisici.<br>Tra i
            più frequenti, sudorazione, tremori, tachicardia, oppressione al petto, formicolio agli arti, vertigini e
            capogiri.</li>
          <li><strong>Disturbi del tono dell'umore</strong> Sintomatologia depressiva caratterizzata da tristezza,
            solitudine, apatia, concetto di sé negativo associato a rimproveri e sensi di colpa, desideri di fuggire o
            morire, insonnia, perdita di libido, lentezza o agitazione.<br> E/o crisi maniacali con umore molto
            variabile,
            elevato senso di sé, diminuzione del sonno e tendenza alla disinibizione.</li>
          <li><strong>Difficoltà legate alla sfera dell'alimentazione</strong> Alterazioni delle abitudini alimentari ed
            eccessiva preoccupazione per il peso e la forma fisica.<br>Tra i principali disturbi troviamo anoressia,
            bulimia, obesità e disordini alimentari.</li>
          <li><strong>Somatizzazioni</strong> Sintomi fisici per i quali le indagini mediche non riscontrano alcuna
            disfunzione organica.<br>Tra i più comuni, disturbi gastrointestinali, problemi dermatologici, dolori
            muscolari e cefalea.</li>
          <li><strong>Difficoltà relazionali</strong> Sisagio nel comunicare le proprie emozioni, paura del giudizio o
            del confronto con gli altri, chiusura e difficoltà a costruire legami.</li>
        </ul>
      </div>
    </article>

  </section>
  <section class="hero">
    <div class="hero-content">
      <div class="logo-container">
        <img class="logo-large" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.webp"
          alt="Logo dello Studio di Veglie della Dottoressa Roberta Perrone">
        <img class="logo-small" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.svg"
          alt="Logo dello Studio di Lecce della Dottoressa Roberta Perrone">
      </div>
      <span>Psicologa e Psicoterapeuta <br> ad orientamento psicoanalitico </span>
    </div>
    <div class="separator"></div>
    <a routerLink="/contatti_roberta_perrone" class="btn-secondary">Contattami</a>
  </section>