<main>
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-content">
      <div class="logo-container">
        <img class="logo-large" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.webp" alt="Logo dello Studio di Veglie della Dottoressa Roberta Perrone">
        <img class="logo-small" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.svg" alt="Logo dello Studio di Lecce della Dottoressa Roberta Perrone">
      </div>
      <h1>Psicologa e Psicoterapeuta <br> ad orientamento psicoanalitico </h1>
      <div class="hero-content2">
        <blockquote>
          <p>"Il percorso psicoanalitico è un processo di trasformazione, oltre che di cura, alla scoperta di sé
            stessi"</p>
        </blockquote>
      </div>

    </div>
  </section>

  <!-- About Section -->
  <section class="about">
    <div class="about-container">
      <div class="about-text">
        <h2>Chi Sono</h2>
        <p>
          Sono <strong>Roberta Perrone</strong>, <strong>psicologa</strong> e <strong>psicoterapeuta</strong> ad
          orientamento psicoanalitico, specializzata presso la <strong>Scuola di Psicoterapia Psicoanalitica di Torino
            (SPP)</strong>.
        </p>
        <p>
          La mia formazione ha inizio presso l'Università degli Studi di Chieti, dove ho conseguito la laurea triennale
          in <strong>Scienze e Tecniche Psicologiche</strong>. Successivamente, la mia carriera universitaria è
          proseguita a Torino, dove nel 2016 mi sono laureata in <strong>Psicologia Clinica e di Comunità</strong>.
        </p>
        <p>
          Sono iscritta all'Albo dell'<strong>Ordine degli Psicologi del Piemonte (n.8292)</strong> e inserita
          nell'elenco degli psicoterapeuti.
        </p>
        <p>
          Per diversi anni ho collaborato con i servizi dell'ASL del comune di <strong>Torino</strong>, dove ho lavorato
          con altre figure professionali e ho scoperto l'importanza del lavoro in équipe. </p>
        <p> Attualmente esercito la libera professione in <strong>provincia di Lecce</strong> e offro servizi di
          <strong> psicoterapia online</strong>.</p>


      </div>
      <div class="about-image">
        <img src="assets/Images/Psicologa_e_Psicoterapeuta_Roberta_Perrone.jpg" alt="Foto profilo del sito internet Dottoressa Roberta Perrone">
      </div>
      <div class="about-method">
        <h2>Il Mio Metodo</h2>

    
        <p>Il <strong>metodo psicoanalitico</strong> si pone come obiettivo generale la conoscenza profonda dell'individuo.</p>
        
        <p>In psicoanalisi, <strong>il sintomo rappresenta una possibilità di cambiamento</strong>, comprendendone le cause, si può riorientare la propria vita.</p>
        
        <p>La qualità dell'<strong>ascolto</strong>, la <strong>riservatezza</strong> e la <strong>stabilità</strong> delle sedute favoriscono la creazione di un clima di lavoro necessario per comprendere cosa sta accadendo a livello profondo.</p>
        <p>Iniziare un percorso di analisi permette di <strong>dare un senso alle proprie difficoltà</strong> e di trovare nuove modalità per affrontarle.</p>
      
      </div>
           
    </div>
  </section>
      <div class="hero-content2">
        <blockquote>
          <p>"Credo che la psicoanalisi possa dare ad ognuno la possibilità di riscrivere la propria storia"</p>
        </blockquote>
      </div>



  <!-- Services Section -->


  <!-- Contact Section -->
  <section class="contact">
    <p>Per ulteriori informazioni o per richiedere una consulenza, non esitare a contattarmi.</p>
    <a  routerLink="/percorsi_psicoterapia"  class="btn-secondary">I miei Servizi</a>
  </section>
</main>
