/* Importa Google Font per una migliore estetica */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* General Styles */



.hero-content {
  max-width: 800px;
  margin: 0 auto;
  z-index: 1; /* Assicura che il contenuto sia sopra eventuali sovrapposizioni */
  position: relative;
}

.hero h1 {
  font-size: 3.5rem; /* Dimensione del font maggiore per un impatto visivo */
  margin-bottom: 1.5rem;
  color: #c62828; /* Rosso scuro per il testo */
  font-weight: 700; /* Font bold per l'enfasi */
  line-height: 1.2; /* Altezza della linea migliorata per la leggibilità */
}

.hero p {
  font-size: 1.375rem; /* Dimensione del font leggermente più piccola rispetto a h1 */
  margin-bottom: 2.5rem;
  color: #d32f2f; /* Rosso medio per il testo */
}

.btn-primary {
  background-color: #d32f2f; /* Rosso medio per il pulsante primario */
  color: white;
  padding: 0.75rem 2rem; /* Maggiore padding per un pulsante più prominente */
  text-decoration: none;
  border-radius: 8px; /* Bordo arrotondato per un look moderno */
  display: inline-block;
  font-weight: 600; /* Font semi-bold per una migliore leggibilità */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #c62828; /* Rosso più scuro al passaggio del mouse */
  transform: translateY(-2px); /* Effetto di sollevamento al passaggio del mouse */
}

/* About Section */
.about {
  padding: 4rem 2rem; /* Maggiore padding per una sensazione di spazio */
  background-color: #fafafa; /* Sfondo grigio chiaro per un aspetto neutro */
  text-align: center;
}

.about h2 {
  font-size: 2.75rem; /* Dimensione del font maggiore per una migliore enfasi */
  margin-bottom: 1.5rem;
  color: #c62828; /* Rosso scuro per coerenza */
  font-weight: 700; /* Font bold per l'enfasi */
  line-height: 1.3; /* Altezza della linea migliorata per la leggibilità */
}

.about p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #555; /* Grigio scuro per la leggibilità */
}
.about-container {
  display: flex;
  align-items: flex-start; /* Allinea l'immagine e il testo in alto */
}

.about-image {
  flex: 1;
  margin-right: 20px; /* Spazio tra l'immagine e il testo */
}

.about-image img {
  max-width: 100%; /* L'immagine non supererà la larghezza del suo contenitore */
  height: auto; /* Mantiene le proporzioni dell'immagine */
  border-radius: 8px; /* Opzionale: bordi arrotondati per l'immagine */
}

.about-text {
  flex: 2;
}

.about-text h2 {
  text-align: center; /* Centro l'intestazione */
}

.btn-secondary {
  background-color: #c62828; /* Rosso scuro per il pulsante secondario */
  color: white;
  padding: 0.75rem 2rem; /* Maggiore padding per un pulsante più prominente */
  text-decoration: none;
  border-radius: 8px; /* Bordo arrotondato per coerenza con il pulsante primario */
  display: inline-block;
  font-weight: 600; /* Font semi-bold per una migliore leggibilità */
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
  background-color: #d32f2f; /* Rosso medio al passaggio del mouse */
  transform: translateY(-2px); /* Effetto di sollevamento al passaggio del mouse */
}



/* Contact Section */
.contact {
  padding: 4rem 2rem; /* Maggiore padding per una sensazione di spazio */
  background-color: #fafafa; /* Grigio chiaro per coerenza */
  text-align: center;
}

.contact h2 {
  font-size: 2.75rem; /* Dimensione del font maggiore per una migliore enfasi */
  margin-bottom: 1.5rem;
  color: #c62828; /* Rosso scuro per coerenza */
  font-weight: 700; /* Font bold per l'enfasi */
  line-height: 1.3; /* Altezza della linea migliorata per la leggibilità */
}

.contact p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  color: #555; /* Grigio scuro per la leggibilità */
}


/* Blockquote Styles */
blockquote {
  border-left: 4px solid #c62828; /* Bordo rosso scuro */
  padding-left: 1rem; /* Padding per una migliore leggibilità */
  margin: 2rem 0; /* Spazio sopra e sotto */
  font-style: italic; /* Testo in corsivo per enfasi */
  color: #555; /* Grigio scuro per il testo */
}

blockquote footer {
  font-size: 1.125rem; /* Dimensione del font per il footer */
  color: #c62828; /* Rosso scuro per il nome dell'autore */
  margin-top: 0.5rem; /* Spazio sopra il nome dell'autore */
}
.logo-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;

}
@media (max-width: 768px) {
  .about-container {flex-direction: column-reverse;}
  .about-image{margin: 0px;}
}

