<div class="container">
  <div class="row">
    <!-- Itera su tutte le chiavi della mappa dei contenuti -->
    <div class="column" *ngFor="let tab of tabKeys">
      <div class="card">
        <div class="card-body">
          <!-- Titolo dinamico della sezione -->
          <h3 class="card-title">{{ tabContent[tab].title }}</h3>
          
          <!-- Descrizione dinamica della sezione -->
          <p class="card-text">{{ tabContent[tab].description }}</p>
          
          <!-- Paragrafo aggiuntivo o altre informazioni, dinamico -->
          <p *ngIf="tabContent[tab].extraInfo">{{ tabContent[tab].extraInfo }}</p>

          <!-- Lista dinamica (controlla che `list` non sia `undefined`) -->
          <ul *ngIf="tabContent[tab].list?.length">
            <li *ngFor="let item of tabContent[tab].list">{{ item }}</li>
          </ul>
        </div>
        <div class="card-footer">

          <a routerLink="/contact" class="btn-secondary">Contattami</a>
        </div>
      </div>
    </div>
  </div>
</div>
