<div class="servizi">
  <div class="titoloservizi">
    <img class="immagineprincipale" src="assets/Images/logo_dello_studio_Roberta_Perrone.svg" alt="Logo dello Studio di Veglie e Lecce della Dottoressa Roberta Perron">
    <h1 class="titoloprincipale">I nostri Percorsi</h1>
  </div>
  <div class="hero-content2">
    <blockquote>
      <p>"Credo che la psicoanalisi possa dare ad ognuno la possibilità di riscrivere la propria storia"</p>
    </blockquote>
  </div>

  <div class="container">

    <div class="row">

      <div class="card">
        <!-- Sezione Infanzia -->
        <section class="card-body">
          <div class="svg-container">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="48" height="48">
              <path
                d="M224 0a80 80 0 1 1 0 160A80 80 0 1 1 224 0zM436.8 382.8L373.5 462c-16.6 20.7-46.8 24.1-67.5 7.5c-17.6-14.1-22.7-38.1-13.5-57.7l-.8-.1c-38.9-5.6-74.3-25.1-99.7-54.8l0-36.8c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 48c0 .8 0 1.6 .1 2.4l101.4 50.7c23.7 11.9 33.3 40.7 21.5 64.4s-40.7 33.3-64.4 21.5L27.2 427.3c-1.1-.5-2.2-1.1-3.3-1.7c-4.9-2.8-9.2-6.4-12.6-10.6c-4.6-5.4-7.8-11.7-9.6-18.4c-3.3-12-1.9-25.2 4.8-36.6c.6-1.1 1.3-2.2 2-3.2L75.6 256.1c26.7-40.1 71.7-64.1 119.8-64.1l75.2 0c46.5 0 90.1 22.5 117.2 60.3l50.7 70.9c2.2 3 4 6.1 5.5 9.4c2.9 6.7 4.3 13.8 4 20.8c-.3 10.6-4.2 21-11.2 29.4zM320 332a44 44 0 1 0 -88 0 44 44 0 1 0 88 0z" />
            </svg>
          </div>
          <h2 class="card-title">Psicoterapia per l'Infanzia</h2>
          <p class="card-text">La psicoterapia aiuta i più piccoli ad affrontare le sfide evolutive.<br>
            Il lavoro con i <strong>bambini</strong> è caratterizzato dall'uso del gioco, della narrazione e del
            disegno,
            attraverso cui è possibile accedere al mondo interiore e dare voce ad <strong>emozioni</strong> e
            <strong>sofferenze</strong>.
          </p>
          <p class="card-text">La <strong>coppia genitoriale</strong> è parte integrante del percorso terapeutico. Un
            aiuto psicologico in tenera età è un fattore altamente preventivo.</p>
          <div class="card-footer">
            <a routerLink="/aree_intervento" class="btn-secondary">Scopri di più</a>
          </div>


        </section>
      </div>

      <div class="card">
        <!-- Sezione Adolescenti -->
        <section class="card-body">
          <div class="svg-container">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="68" height="48">
              <path
                d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304l0 128c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-223.1L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6l29.7 0c33.7 0 64.9 17.7 82.3 46.6l44.9 74.7c-16.1 17.6-28.6 38.5-36.6 61.5c-1.9-1.8-3.5-3.9-4.9-6.3L232 256.9 232 480c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-128-16 0zM432 224a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 240a24 24 0 1 0 0-48 24 24 0 1 0 0 48zM368 321.6l0 6.4c0 8.8 7.2 16 16 16s16-7.2 16-16l0-6.4c0-5.3 4.3-9.6 9.6-9.6l40.5 0c7.7 0 13.9 6.2 13.9 13.9c0 5.2-2.9 9.9-7.4 12.3l-32 16.8c-5.3 2.8-8.6 8.2-8.6 14.2l0 14.8c0 8.8 7.2 16 16 16s16-7.2 16-16l0-5.1 23.5-12.3c15.1-7.9 24.5-23.6 24.5-40.6c0-25.4-20.6-45.9-45.9-45.9l-40.5 0c-23 0-41.6 18.6-41.6 41.6z" />
            </svg>


          </div>

          <h2 class="card-title">Psicoterapia per Adolescenti</h2>
          <p class="card-text">Il lavoro con gli adolescenti è caratterizzato dalla <strong>Flessibilità</strong>,
            rispetto alla frequenza, agli orari e alla durata stessa del percorso.</p>
          <p class="card-text">L'adolescenza è un periodo di profondi cambiamenti che riguardano la sfera
            <strong>fisica</strong>, <strong>emotiva</strong> e <strong>sociale</strong>. La psicoterapia è rivolta ai
            ragazzi che attraversano momenti di <strong>crisi</strong> e <strong>confusione</strong>, che mettono in
            discussione <strong>l'immagine di Sé </strong> e ridefiniscono la propria <strong>identità </strong>.
          </p>

          <div class="card-footer">
            <a routerLink="/aree_intervento" class="btn-secondary">Scopri di più</a>
          </div>
        </section>
      </div>
      <div class="card">
        <!-- Sezione Adulti -->
        <section class="card-body">
          <div class="svg-container">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="68" height="48">
              <path
                d="M323.4 85.2l-96.8 78.4c-16.1 13-19.2 36.4-7 53.1c12.9 17.8 38 21.3 55.3 7.8l99.3-77.2c7-5.4 17-4.2 22.5 2.8s4.2 17-2.8 22.5l-20.9 16.2L550.2 352l41.8 0c26.5 0 48-21.5 48-48l0-128c0-26.5-21.5-48-48-48l-76 0-4 0-.7 0-3.9-2.5L434.8 79c-15.3-9.8-33.2-15-51.4-15c-21.8 0-43 7.5-60 21.2zm22.8 124.4l-51.7 40.2C263 274.4 217.3 268 193.7 235.6c-22.2-30.5-16.6-73.1 12.7-96.8l83.2-67.3c-11.6-4.9-24.1-7.4-36.8-7.4C234 64 215.7 69.6 200 80l-72 48-80 0c-26.5 0-48 21.5-48 48L0 304c0 26.5 21.5 48 48 48l108.2 0 91.4 83.4c19.6 17.9 49.9 16.5 67.8-3.1c5.5-6.1 9.2-13.2 11.1-20.6l17 15.6c19.5 17.9 49.9 16.6 67.8-2.9c4.5-4.9 7.8-10.6 9.9-16.5c19.4 13 45.8 10.3 62.1-7.5c17.9-19.5 16.6-49.9-2.9-67.8l-134.2-123z" />
            </svg>
          </div>
          <h2 class="card-title">Psicoterapia per Adulti</h2>
          <p class="card-text">La psicoterapia psicoanalitica è un viaggio dentro sé stessi alla ricerca delle
            <strong>cause profonde</strong> del disagio soggettivo. Terapeuta e paziente esplorano insieme il mondo
            interno ricco di <strong>pensieri</strong>, <strong>ricordi</strong> ed <strong>emozioni</strong> in
            continua
            trasformazione. Ogni percorso terapeutico è unico e irripetibile, la persona è accolta e riconosciuta nella
            sua individualità.
          </p>
          <p class="card-text">Il processo di <strong>cura</strong> e di <strong>cambiamento</strong> segue i tempi
            interni dell'individuo e la sua durata è dunque soggettivamente variabile.</p>
          <div class="card-footer">
            <a routerLink="/aree_intervento" class="btn-secondary">Scopri di più</a>
          </div>
        </section>
      </div>

      <div id="card" class="card">
        <!-- Sezione Online -->
        <section class="card-body">

          <div class="svg-container">
            <svg class="image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="48" height="48">
              <path
                d="M64 0C28.7 0 0 28.7 0 64L0 352c0 35.3 28.7 64 64 64l176 0-10.7 32L160 448c-17.7 0-32 14.3-32 32s14.3 32 32 32l256 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-69.3 0L336 416l176 0c35.3 0 64-28.7 64-64l0-288c0-35.3-28.7-64-64-64L64 0zM512 64l0 288L64 352 64 64l448 0z" />
            </svg>

          </div>
          <h2 class="card-title">Psicoterapia Online</h2>
          <p class="card-text">La psicoterapia online è un intervento psicologico a distanza condotto con la stessa
            attenzione, <strong>empatia</strong> e <strong>competenza</strong> del modello tradizionale. L'incontro tra
            terapeuta e paziente avviene in <strong>videochiamata</strong> attraverso l'utilizzo delle nuove tecnologie
            (<strong>tablet</strong>, <strong>smartphone</strong>, <strong>PC</strong>).
          </p>
          <p class="card-text"> Questo servizio è particolarmente utile per chi ha impegni lavorativi intensi, vive
            lontano o ha limitazioni di mobilità.</p>
          <div class="card-footer">
            <a routerLink="/aree_intervento" class="btn-secondary">Scopri di più</a>
          </div>
        </section>
      </div>
    </div>
    <div class="logo-container">
      <img class="logo-large" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.webp"
        alt="Logo dello Studio di Lecce della Dottoressa Roberta Perrone">
      <img class="logo-small" src="assets/Images/logo_dello_studio_Roberta_Perrone_Filo.svg"
        alt="Logo dello Studio della provincia di Lecce della Dottoressa Roberta Perrone">
    </div>
  </div>
</div>