/* Contenitore principale */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Griglia delle colonne */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Usa space-between per distribuire lo spazio uniformemente */
}

/* Colonne che diventano responsive */
.column {
  flex: 1 1 22%; /* Le colonne occupano circa un quinto dello spazio su schermi grandi */
  max-width: 22%; /* Imposta una larghezza massima per garantire che non occupino troppo spazio */
  margin: 10px;
  box-sizing: border-box;
}

/* Stile delle card */
.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  width: 400px;
  align-items: flex-start;
}

#card{
  width: 65%;
  margin: 5% auto;
  display: block;
}

/* Corpo della card */
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #c62828;
}
.image path {
  fill:  #611d1d;
}



h2{
  font-size: 3em;
  font-family: 'Arial', sans-serif;
  color: #BA5B5B;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  position: relative;

  text-align: center;
}

.svg-container{
 text-align: center;
 margin: 2%;
 filter: drop-shadow(4px 4px 4px rgba(46, 22, 22, 0.61));
}
.card-text {
  flex: 1;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: justify;
}


.card-footer {
  padding: 10px;
  text-align: center;
}

.card-footer button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;

}

.card-footer button:hover {
  background-color: #0056b3;
}
@media (max-width: 1250px) {
  #card{
    width: 400px;
    margin: 0;
   }
   .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Usa space-between per distribuire lo spazio uniformemente */
  }
}
/* Layout responsive */
@media (max-width: 768px) {
  .column {
    flex: 1 1 100%; /* Le colonne occupano il 100% su schermi piccoli */
    max-width: 100%; /* Disattiva la larghezza massima per i dispositivi mobili */
  }

  .immaginefinale{
    width: 100%;
  }
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    margin: 5% auto;
  }
  .svg-container{
    margin: 10%;
   }
   #card{
    width: 100%;
   }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .column {
    flex: 1 1 45%; /* Le colonne occupano circa la metà dello spazio su tablet */
    max-width: 45%;
  }
}

@media (min-width: 1201px) {
  .column {
    flex: 1 1 22%; /* Le colonne occupano circa un quinto dello spazio su desktop ampi */
    max-width: 22%;
  }
}
