

<div class="image">
  <img  src="assets/Images/servizi.webp" alt="Foto di Roberta Perrone "width="100" height="100">
</div>
<section class="services">
  <h2>I Nostri Servizi</h2>
  <!-- Età Evolutiva -->
  <article class="service-category">
    <h3>Età Evolutiva</h3>
    <div class="service-item">
      <h4>Pre-scolare e Scolare</h4>
      <ul>
        <li><strong>Difficoltà Affettive e Relazionali:</strong> Scarso rispetto delle regole, manifestazioni aggressive, provocatorie e di opposizione oppure ritiro e isolamento.</li>
        <li><strong>Difficoltà Emotive e Comportamentali:</strong> Ansie, preoccupazioni, crisi di rabbia, ritiro in se stessi, mutismo selettivo o disturbi psicosomatici (disturbi del sonno e dell'alimentazione, enuresi, encopresi, nausea, vomito e cefalea).</li>
        <li><strong>Difficoltà Scolastiche:</strong> Problematiche nell'apprendimento, di attenzione e/o iperattività.</li>
        <li><strong>Supporto a Seguito di Eventi Specifici:</strong> Cambiamenti familiari (nascita di un/una fratellino/sorellina, separazione dei genitori, ecc.), lutto, malattia di un familiare e adozioni.</li>
        <li><strong>Trattamento dei Disturbi dello Spettro Autistico:</strong> Approcci specializzati per i disturbi dello spettro autistico.</li>
        <li><strong>Problematiche Adolescenziali:</strong> Crisi legate all'identità, difficoltà nella relazione con il proprio corpo, con gli adulti di riferimento e/o con i pari; assunzione di comportamenti disfunzionali.</li>
      </ul>
    </div>
  </article>

  <!-- Età Adulta -->
  <article class="service-category">
    <h3>Età Adulta</h3>
    <div class="service-item">
      <ul>
        <li><strong>Stato Emotivo Ansioso:</strong> Sensazioni di tensione, preoccupazioni e sintomi fisici (sudorazione, tremolio, tachicardia, vertigini/capogiri).</li>
        <li><strong>Alterazione del Tono dell'Umore:</strong> Sintomatologia depressiva (tristezza, solitudine, apatia, concetto di sé negativo, insonnia, perdita di libido, lentezza o agitazione) e/o crisi maniacali (umore elevato o molto variabile, elevato senso di sé, diminuzione del sonno, tendenza alla disinibizione).</li>
        <li><strong>Somatizzazioni:</strong> Presenza di sintomi fisici che fanno pensare a una condizione medica, ma che non sono giustificati da quest'ultima.</li>
        <li><strong>Stress:</strong> Risposta psicofisica a compiti emotivi, cognitivi o sociali percepiti dalla persona come eccessivi.</li>
      </ul>
    </div>
  </article>

  <!-- Sostegno alla Genitorialità -->
  <article class="service-category">
    <h3>Sostegno alla Genitorialità</h3>
    <div class="service-item">
      <p>Il percorso di sostegno genitoriale permette di accogliere difficoltà, preoccupazioni e dubbi dei genitori. Offre uno spazio per (ri)acquistare fiducia nelle proprie risorse genitoriali e rispondere ai bisogni evolutivi dei propri figli.</p>
    </div>
  </article>
</section>

<div class="faq-section">
  <div class=" hero2">
    <h1>Domande Frequenti - Psicologia e Psicoterapia <i class="bi bi-question-circle-fill"
        style="margin-right: 10px;"></i></h1>
    <h2>Scopri di più sui nostri servizi e su come possiamo aiutarti</h2>

    <div class="intro-text">
      <p>La psicologia e la psicoterapia sono strumenti fondamentali per migliorare la qualità della vita. Attraverso la
        terapia, puoi affrontare i tuoi disagi e sviluppare strategie per gestire lo stress e le difficoltà emotive.</p>
      <p>Qui troverai risposte alle domande più comuni che ci vengono poste dai nostri pazienti. La chiarezza è il primo
        passo verso una scelta consapevole per il tuo benessere.</p>
      <p>Se hai ulteriori dubbi, non esitare a contattarci. Ogni situazione è unica, e siamo qui per offrirti il
        supporto di cui hai bisogno.</p>
    </div>
  </div>



    <div *ngFor="let item of faqItems" class="faq-item">

      <div class="faq-question" (click)="toggleAnswer(item)">


        {{ item.question }}

        <i [class]="item.showAnswer ? 'bi bi-chevron-up' : 'bi bi-chevron-down'" class="faq-toggle-icon"></i>
      </div>

      <div *ngIf="item.showAnswer" class="faq-answer">
        <p>{{ item.answer }}</p>
      </div>

  </div>
</div>